<div class='flex gap-2'>
  <%= render 'sidebar' %>

  <div class='flex-auto bg-white rounded-lg px-4'>
    <h1>Home</h1>
    
    <div class='mb-4'>
      <%= turbo_frame_tag "new_post" do %>
        <%= form_with model: Tweet.new, url: tweets_path, method: :post, data: { turbo_frame: "new_post" } do |f| %>
          <%= hidden_field_tag :context, 'index' %>
          
          <div class="mb-4">
            <%= f.text_area :body, placeholder: "What's happening?", class: "w-full border-0  p-4 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
          </div>

          <div class="flex items-center justify-end ">
            <%= f.submit "Tweet", class: "w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none focus:ring-2 focus:ring-blue-500" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id='tweets'>
      <%= render partial: "tweets/tweet", collection: @tweets, as: :tweet_presenter %>
    </div>
  </div>
  
  <div class='w-64 bg-green-300 '>column</div>
</div>


