<div class='w-full bg-white rounded-lg'>
  <h1>Home</h1>
  
  <div class='mb-4'>
    <div class='flex items-start gap-4 hover:bg-gray-200 rounded-md h-32 p-4'>
    
      <% if current_user.avatar.present? %>
        <%= image_tag current_user.avatar, class: "w-12 h-12 rounded-full" %>
      <% else %>
        <%= image_tag "user-profile.svg", class: "w-12 h-12 rounded-full" %>
      <% end %>
      
      <div class="w-full">
        <%= turbo_frame_tag "new_post" do %>
          <%= render partial: "shared/tweet_form", locals: { submit_form_path: tweets_path, button_label: "Tweet", placeholder_label: "What is happening?!" } %>
        <% end %>
      </div>
    </div>
  </div>

  <div id='tweets'>
    <%= render partial: "tweets/tweet", collection: @tweet_presenters, as: :tweet_presenter %>
  </div>
</div>