<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class='flex items-start gap-4 hover:bg-gray-200 rounded-md h-32 p-4'>
    <%= image_tag tweet_presenter.avatar, class: "w-12 h-12 rounded-full", alt: "#{tweet_presenter.display_name}'s avatar" if tweet_presenter.avatar.present? %>
    
    <div class="w-full">
      <span class='font-bold'><%= tweet_presenter.display_name %> </span>
      <span class='text-gray-500'>@<%= tweet_presenter.username %> . <%= tweet_presenter.formatted_created_at %></span>

      <%= link_to tweet_path(tweet_presenter.tweet), data: { turbo_frame: "_top" } do %>
        <p><%= tweet_presenter.body %></p>
      <% end %>

      <div class='flex justify-between mt-4'>
        <div>
          <%= link_to tweet_path(tweet_presenter.tweet), data: { turbo_frame: "_top" }, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <i class="fa-regular fa-comment"></i>
            <span>2.6K</span>
            <span class="hover-text">reply</span>
          <% end %>
        </div>

        <div>
          <%= link_to tweet_presenter.retweet_presenter.url, 
                      data: { "turbo-method": tweet_presenter.retweet_presenter.request }, 
                      class: "relative inline-flex items-center gap-2 hover-link group hover:text-[#74C0FC]" do %>
            <%= tweet_presenter.retweet_presenter.retweet_icon %>
            <span><%= tweet_presenter.retweets_count %></span>
            <span class="hover-text">Retweet</span>
          <% end %>
        </div>
        
        <div>
          <%= link_to tweet_presenter.like_presenter.url, 
                      data: { "turbo-method": tweet_presenter.like_presenter.request }, 
                      class:"relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <span><%= tweet_presenter.like_presenter.heart_icon %></span>
            <span><%= tweet_presenter.likes_count %></span>
            <span class="hover-text">Like</span>
          <% end %>
        </div>      

        <div>
          <%= link_to '#', class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <i class="fa-solid fa-chart-column"></i>
            <span><%= tweet_presenter.views_count %></span>
            <span class="hover-text">View</span>
          <% end %>
        </div>

        <div class="flex gap-4">
          <%= link_to tweet_presenter.bookmark_presenter.url, 
                      data: { "turbo-method": tweet_presenter.bookmark_presenter.request }, 
                      class:"relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <span><%= tweet_presenter.bookmark_presenter.bookmark_icon %></span>
            <span class="hover-text">Bookmark</span>
          <% end %>       
                                            

          <%= link_to '#', class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
