<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class='flex items-start gap-4 hover:bg-gray-200 rounded-md  h-32 p-4'>
    <%= image_tag tweet_presenter.avatar, class: "w-12 h-12 rounded-full", alt: "#{tweet_presenter.display_name}'s avatar" if tweet_presenter.avatar.present? %>
    <div class="w-full">
      <span class='font-bold'><%= tweet_presenter.display_name %> </span>
      <span>@<%= tweet_presenter.username %> . <%= tweet_presenter.formatted_created_at %></span>
      <p><%= tweet_presenter.body %></p>
      <div class='flex justify-between mt-8'>
        <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
          <i class="fa-regular fa-comment"></i>
          <span>2.6K</span>
          <span class="hover-text">
            reply
          </span>
        <% end %>

        <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
          <i class="fa-solid fa-repeat"></i>
          <span>2.6K</span>
          <span class="hover-text">
            Repost
          </span>
        <% end %>

        <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
          <i class="fa-regular fa-heart"></i>
          <span>2.6K</span>
          <span class="hover-text">
            Like
          </span>
        <% end %>

        <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
          <i class="fa-solid fa-chart-column"></i>
          <span>2.6M</span>
          <span class="hover-text">
            View
          </span>
        <% end %>

        <div>
          <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <i class="fa-regular fa-bookmark"></i>
          <% end %>

          <%= link_to nil, class: "relative inline-block hover-link group hover:text-[#74C0FC]" do %>
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <% end %>        
        </div>
      </div>
    </div>
  </div>

<% end %>