 <%= turbo_frame_tag "profile" do %> 
  <div class='w-full  h-3000px'>
    <div class="flex justify-start items-center m-4 ">
      <%= link_to :back, class: 'back-button', data: { controller: 'back', action: 'click->back#goBack' } do %>
        <%= image_tag 'back_btn.svg', alt: 'Back', class: 'w-5 h-5' %>
      <% end %>
      <div class='ml-8'>
        <h2 class="text-xl font-bold "><%= @user.display_name %> </h2>
        <p class="text-s "><%= @user.tweets.size %> Post </p>
      </div>
    </div>

    <div class='flex justify-between items-center'>
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, class: "w-24 h-24 rounded-full border-2 border-gray p-1" %>
      <% else %>
        <%= image_tag "user-profile.svg", class: "w-24 h-24 rounded-full border-2 border-gray  p-1" %>
      <% end %>
    
      
      <%= render partial: "users/follow_botton", locals: { user: @user, current_user: current_user } %>

    </div>

    <div class="mt-8">
      <h2><%= @user.display_name %> </h2>
      <p>@<%= @user.display_name %> </p>

      <div class='mt-4'>
        <i class="fa-regular fa-calendar-days mt-4"></i> Joined August 2024      
      </div>

      <%= render partial: "shared/follower_and_following_count_frame", locals: { user: @user } %>
      
    </div>
  </div>

  <%= render "profile/profile_modal" %>
<% end %>