<!DOCTYPE html>
<html>
  <head>
    <title>XTweeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("logo/logo.svg") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  </head>

  <body data-controller="modal">
    <% if controller_name == "usernames" || !user_signed_in? %>
      <%= yield %>
    <% else %>
      <div class='container mx-auto flex gap-2 min-h-screen'>
        <!-- Sidebar -->
        <div class='w-1/6 sticky top-0 h-screen'>
          <%= render 'layouts/sidebar' %>
        </div>
        
        <!-- Main Content Area -->
        <div class='flex-grow rounded-lg px-4 '>
          <%= yield %>
        </div>
        
        <!-- Column -->
        <div class='w-1/6 sticky top-0 h-screen'>
          <p class="text-xl my-4 ">Trends for you</p>
          <% Hashtag.includes(:tweets).take(10).each do |hashtag| %>
            <div class='mb-4' 
              data-controller="hashtag" 
              data-hashtag-url-value="<%= hashtag_path(hashtag) %>"
              data-action="click->hashtag#handleClick">
              <p class="text-x font-bold ">#<%= hashtag.tag %></p> 
              <p><%= hashtag.tweets.size %> posts</p>
            </div>
          <% end %>

          <%= link_to "Show more", nil, class:"text-[#74c0fc]" %>
        </div>
      </div>
    <% end %>
    
    <%= render "layouts/modal" %>
  </body>
</html>

